<h1>New post</h1>

<p><%= "Number of process definitions: #{Activiti.process_engine.getRepositoryService.createProcessDefinitionQuery().count()}" %></p>

<%= render 'form' %>

<%= link_to 'Back', posts_path %>
